<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Created Successfully</title>
    <link rel="stylesheet" href="/CSS/accountcreation.css">
</head>
<body>
    <div class="logo-container">
        <img src="/images/Delish Nutrio 1 logo.png" alt="Logo" class="image-logo">
    </div>
    <div class="account-success">
        <img src="/images/accountcretated.png" alt="Account Creation Successful" class="image-account">
        <h1>Your account has been successfully created!</h1>
        <button onclick="window.location.href='../form.html'">CONTINUE</button>
    </div>

</body>
</html>