<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delish Nutrio</title>
    <link rel="stylesheet" href="CSS/main.css">
    <link rel="stylesheet" href="CSS/community.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="assets/home/logo.svg">

</head>
<body>
    <header>
        <nav>
            <div class="logo"><a href="index.html"> <img src="assets/home/logo.svg" alt="logo"></a> </div>
            <div class="links">
                <ul>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="community.html">Community</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="nav-buttons">
                
                <button id="dash" onclick="window.location.href='dashboard.html'">MY DASHBOARD</button>
                <button id="login"onclick="window.location.href='login.html'">LOGIN/REGISTER</button>
            </div>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-info">
            <h1>Be Part of a Vibrant Healthy Living Community</h1>
            <p>Connect with fellow health enthusiastics, swap healthy recipes and start meaningful conversations that leads to healthier living.</p>
            <button> Start a Discussion </button>
        </div>
    </section>

    <section class="discussion">
        <h2> Discussion Categories </h2>
        <div class="discuss-wrap">
            <div class="discuss-card">
                <img src="assets/community/dicuss1.png" alt="discuss" width="756px" height="468px">
            </div>
            <div class="discuss-card">
                <img src="assets/community/discuss2.png" alt="discuss" width="756px" height="468px">
            </div>
            <div class="discuss-card">
                <img src="assets/community/discuss3.png" alt="discuss" width="756px" height="468px">
            </div>
            <div class="discuss-card">
                <img src="assets/community/discuss4.png" alt="discuss" width="756px" height="468px">
            </div>
        </div>
    </section> 
    
    <section class="trending">
        <h2>Trending Discussions</h2>
        <div> <img src="assets/community/trending discussion.png" alt="trending" width="1292px" height="771px"> </div>
        <h3>Start or Join a Discussion</h3>
        <div class="discuss-form">
            <input type="text" name="text" placeholder="Message">
            <button>SUBMIT</button>
        </div>
        <div class="view"><button>VIEW ALL DISCUSSIONS</button></div>
        
    </section>

    <footer>
        <div class="foot-wrap">
            <div class="logo"><a href="index.html"> <img src="assets/home/logo.svg" alt="logo"></a></div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Learn More</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Community</a></li>
                </ul>
            </div>

            <div class="footer-links">
                <ul>
                    <li><a href="#">Tickets & Booking</a></li>
                    <li><a href="#">Nutrition Education</a></li>
                    <li><a href="#">Meal Plans</a></li>
                    <li><a href="#">Articles</a></li>
                </ul>
            </div> 

            <div class="footer-links">
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Office: <span style="font-weight: bold;">123-456-7890</span></a></li>
            </div> 
            
            <div class="footer-links">
                <ul>
                    <li><a href="#">Social</a></li>
                    <div class="socials">
                        <li> <a href="#"><i class="fa-brands fa-facebook-f"></i></a> </li>
                        <li> <a href="#"><i class="fa-brands fa-square-instagram"></i></a> </li>
                        <li> <a href="#"><i class="fa-brands fa-twitter"></i></a> </li>
                        <li> <a href="#"><i class="fa-brands fa-youtube"></i></a> </li>
                        <li> <a href="#"><i class="fa-brands fa-wordpress"></i></a> </li>
                    </div>
                </ul>
            </div> 
        </div>

        <hr>
        <p class="copy"> &copy; 2024 Delish Nutrio | All Rights Reserved </p>
    </footer>
</body>
</html>