<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="container">
        <div class="inner-container">
            <div class="logo-container">
                <img class="logo" src="/delish nutrio logo.jpg" alt="logo" width="100px" height="100px">

                <h2 class="logo-text">Complete this form in order to fully <br> <span class="logo-setup">Set up</span>
                    your account</h2>
            </div>
            <div class="form-section">
                <form action="/api/newprofile" method="post">
                <div class="inner-form-section">
                    <div class="right-column">

                        <h2 class="form-section-header gender">What is your gender?</h2>
                        <div class="gender-container">
                            <input class="gender-input" type="radio" id="Male" name="gender" value="Male">
                            <label for="Male">Male</label>

                            <input type="radio" id="Female" name="gender" value="Female">
                            <label for="Female">Female</label>
                        </div>
                        <br>

                        <h2 class="form-section-header">Where are you from?</h2>
                        <div class="location-container">
                            <input class="location" type="text" name="country">
                        </div> <br>


                        <h2 class="form-section-header">Dietary preference</h2>
                        <div class="Dietary-container">
                            <select class="Dietary-preference" name="dietary_preferences" id="Dietary-preference">
                                <option value="Vegetarian">Vegetarian</option>
                                <option value="Non-Vegetarian">Non-Vegetarian</option>
                                <option value="Vegan">Vegan</option>
                                <option value="Gluten-free">Gluten-free</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <br>

                        <h2 class="form-section-header">Activity level</h2>
                        <div class="Activity-container">
                            <select class="Activity" name="activity_levels" id="Activity-level">
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select>
                        </div>
                        <br>


                        <h2 class="form-section-header">Medical Condition</h2>
                        <div class="Medical-container">
                            <select class="Medical" name="medical_condition" id="Medical-Condition">
                                <option value="Hypertension">None</option>
                                <option value="Hypertension">Hypertension</option>
                                <option value="Diabetes">Diabetes</option>
                                <option value="Asthma">Asthma</option>
                                <option value="Arthritis">Arthritis</option>
                                <option value="Cancer">Cancer</option>
                            </select>
                        </div>
                        <br>


                        <h2 class="form-section-header">Weight (kg)</h2>
                        <div class="weight-container">
                            <input class="weight" type="number" id="Weight" name="weight" min="0" max="300">
                            <span id="Weight"></span>
                        </div>

                    </div>

                    <div class="left-column">
                        <h2 class="form-section-header">What's your Age</h2>
                        <div class="dob-container">
                            <input class="dob" type="number" id="birrthdate" name="age" placeholder="e.g. 18">
                        </div>

                        <br>


                        <h2 class="form-section-header">What region are you from?</h2>
                        <div class="region-container">
                            <select class="region" name="region" id="region">
                                <option value="North Central">North Central</option>
                                <option value="North West">North West</option>
                                <option value="North East">North East</option>
                                <option value="South East">South East</option>
                                <option value="South South">South South</option>
                                <option value="South West">South West</option>
                            </select>
                        </div>
                        <br>


                        <h2 class="form-section-header">Health Goal</h2>
                        <div class="health-container">
                            <select class="health" name="health_goals" id="Health-goal">
                                <option value="Weight-Loss">Weight-Loss</option>
                                <option value="Weight-Gain">Weight-Gain</option>
                            </select>
                        </div>
                        <br>


                        <h2 class="form-section-header">Allergies</h2>
                        <div class="allergies-container">
                            <select class="allergies" name="allergies" id="Allergies">
                                <option value="Gluten">Gluten</option>
                                <option value="Dairy">Dairy</option>
                                <option value="Soy">Soy</option>
                                <option value="Wheat">Wheat</option>
                                <option value="Corn">Corn</option>
                            </select>
                        </div>
                        <br>


                        <h2 class="form-section-header">Height (cm)</h2>
                        <div class="height-container">
                            <input class="height" type="number" id="height" name="height" min="0" max="250">
                            <span id="height-display"></span>
                            </select>
                        </div>
                        <br>
                        <br>


                    </div>
                </div>

                <div class="btn-container">
                    <button class="btn" type="submit">Proceed</button>
                </div>
                </form>
            </div>
            <p class="information">We use this information to calculate <br>
                an accurate calorie goal for you</p>
        </div>



    </section>


</body>

</html>