<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Style/style.css">
</head>
<body>
    <div class="container">
        <div class="heading">
            <div class="Logo">
                <img src="/Image/Delish Nutrio 1.png" alt="Company Logo" class="logo">
            </div>
        </div>
        <div class="title">
            <img class="icon" src="/Image/hand sign.png" alt="hand sign icon">
            <span>Welcome to </span>
            <h4> Delish Nutrio</h4><br>
        </div>
        <div class="paragraph">
            <h6>Discover personalized nutrition solution and expert guidance to help you reach your health and wellness goals</h6>
        </div>
        <div class="image-container">
            <img src="/Image/meal planning.png" alt="meal planning" class="meal planning">
            <img src="/Image/meal recipe finder.png" alt="meal recipe finder" class="meal recipe finder">
            <img src="/image/health progress tracking.png" alt="health progress tracker" class="health progress tracker">
        </div>
        <div class="tablemenu">
            <div  class="Image-title01">
                <div>Meal Planning</div>
            </div>
            <div class="Image-title02">
                <div>Meal Recipe Finder</div>
            </div>
            <div class="Image-title03">
                <div>Health Progress Tracking</div>
            </div>
        </div>
        <div class="button">
            <input type="button" value="GET STARTED"/>
        </div>
    </div>
</body>
</html>