<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delish Nutrio</title>
    <link rel="stylesheet" href="CSS/main.css">
    <link rel="stylesheet" href="CSS/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="assets/home/logo.svg">

</head>
<body>
    <header>
        <nav>
            <div class="logo"><a href="index.html"> <img src="assets/home/logo.svg" alt="logo"></a> </div>
            <div class="links">
                <ul>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="community.html">Community</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="nav-buttons">
                <button id="dash">MY DASHBOARD</button>
                <button id="login">LOGIN/REGISTER</button>
            </div>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-info">
            <h1>Nourish Your Body, Elevate Your Life</h1>
            <p>Discovered personalized nutrition plans and expert guidance to help you achieve your health goals</p>
           <a href="Login.html"> <button> GET STARTED </button></a>
        </div>
    </section>

    <section class="features">
        <h2>Features Overview</h2>
        <div class="feature-wrapper">
            <div class="feature-card">
                <img src="assets/home/home-hollof.png" alt="socks" height="500px" width="690px">
                <div class="card-text">
                    <h3>Personalized Meal Plans</h3>
                    <p>Get a tailored meal plan that suits your lifestyle, preferences and nutritional needs. Our expert nutritionists will create a customized plan to help you achieve your health goals</p>
                </div>
            </div>

            <div class="feature-card">
                <img src="assets/home/home-pen.jpg" alt="socks" height="500px" width="690px">
                <div class="card-text">
                    <h3>Dietary Assessment</h3>
                    <p>Undergo a comprehensive diatary assessment to identify areas of improvement in your eating habits. Our expert nutritionsits will analyze your diet and provide personalized recommendations for optimal nutrition</p>
                </div>
            </div>

            <div class="feature-card">
                <img src="assets/home/home-reading.jpg" alt="socks" height="500px" width="690px">
                <div class="card-text">
                    <h3>Nutrition Education</h3>
                    <p>Empower yourself with knowledge on proper nutrition and healthy eating habits. Our nutrition education resources cover topics from macronutrients to meal planning, helping you make informed decisions about your diet</p>
                </div>
            </div>

            <div class="feature-card">
                <img src="assets/home/home-medic.jpg" alt="socks" height="500px" width="690px">
                <div class="card-text">
                    <h3>Community forum</h3>
                    <p>Connect with like minded individuals and expert nutritionists in our community forum. Share your experiences, ask questions, and get support on your journey to optimal health and wellness.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials">
        <h2>User Testimonials</h2>
        <div class="test-wrapper">
            <div class="testcard">
                <div class="card-qt">
                    <p>&ldquo; As someone diagnosed with PCOS, I struggled with balancing my hormones and managing  my weight. The personalized meal plans on Delish Nutrio have been a game-changer. The expert  nutrition advice, combined with easy-to-follow recipes, has helped me regulate my symptoms,  boost my energy, and feel in control of my health again. I feel empowered to take care of my  body.&rdquo;</p>
                </div>
                <div class="quoter">
                    <div class="quote-icon"><img src="assets/home/author1.png" alt="author" width="80px" height="80px"> </div>
                    <div class="author">
                        <h4>Amarachi</h4>
                        <p>Managing PCOS</p>
                    </div>
                </div>
            </div>
           

            <div class="testcard">
                <div class="card-qt">
                    <p>&ldquo;Living with diabetes meant I was constantly monitoring my blood sugar and had to be  cautious with every meal. Delish Nutrio has been incredible in helping me create balanced meals  that keep my blood sugar stable. The recipes are not only diabetes-friendly but also delicious.  I’ve learned how to enjoy food again without stressing about my condition.&rdquo;</p>
                </div>
                <div class="quoter">
                    <div class="quote-icon"><img src="assets/home/author2.png" alt="author" width="80px" height="80px"></div>
                    <div class="author">
                        <h4>Tobore </h4>
                        <p>Managing diabetes</p>
                    </div>
                </div>
            </div>
            

            <div class="testcard">
                <div class="card-qt">
                        <p>&ldquo;I’ve always struggled to gain weight despite eating well. The meal plans on Delish Nutrio have  been a lifesaver. They helped me discover nutrient-dense foods that promote healthy weight  gain while also making sure I feel satisfied and energized. It’s not just about the quantity of  food; it’s about the right balance, and this website has helped me find that. &rdquo;</p>
                </div>
                <div class="quoter">
                    <div class="quote-icon"><img src="assets/home/author3.png" alt="author" width="80px" height="80px"></div>
                    <div class="author">
                        <h4>Zarahtu</h4>
                        <p>Managing Weight-gain</p>
                    </div>
                </div>
            </div>
           
        </div>
    </section>

    <section class="resources">
        <h2>Resources Section</h2>
        <div class="resources-wrapper">
            <div class="resources-card">
                <img src="assets/home/resource1.png" alt="food" height="299px" width="477px">
                <h3>10 Essential Nutrients for a Healthy Diet</h3>
                <p>Discover the 10 essential nutrients for a healthy diet, including protein, fiber, and vitamins, and learn how to incorporate them into your meals.</p>
                <button>FIND OUT MORE <i class="fa-solid fa-arrow-right"></i></button>
            </div>

            <div class="resources-card">
                <img src="assets/home/resource2.png" alt="food" height="299px" width="477px">
                <h3>10 Essential Nutrients for a Healthy Diet</h3>
                <p>This article can explore common misconceptions about nutrition, such as "low-fat" foods being healthy or "carbs" being bad. You can provide evidence-based information to set the record straight and offer guidance on how to make informed decisions about nutrition.</p>
                <button>FIND OUT MORE <i class="fa-solid fa-arrow-right"></i></button>
            </div>

            <div class="resources-card">
                <img src="assets/home/resource3.png" alt="food" height="299px" width="477px">
                <h3>10 Essential Nutrients for a Healthy Diet</h3>
                <p>This article can provide a step-by-step guide on how to create a balanced meal plan for weight management. You can cover topics like setting calorie goals, portion control, and meal frequency, as well as provide sample meal plans and recipes.</p>
                <button>FIND OUT MORE <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </section>

    <footer>
        <div class="foot-wrap">
            <div class="logo"><a href="index.html"> <img src="assets/home/logo.svg" alt="logo"></a></div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Learn More</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Community</a></li>
                </ul>
            </div>

            <div class="footer-links">
                <ul>
                    <li><a href="#">Tickets & Booking</a></li>
                    <li><a href="#">Nutrition Education</a></li>
                    <li><a href="#">Meal Plans</a></li>
                    <li><a href="#">Articles</a></li>
                </ul>
            </div> 

            <div class="footer-links">
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Office: <span style="font-weight: bold;">123-456-7890</span></a></li>
            </div> 
            
            <div class="footer-links">
                <ul>
                    <li><a href="#">Social</a></li>
                    <div class="socials">
                        <li> <a href="#"><i class="fa-brands fa-facebook-f"></i></a> </li>
                        <li> <a href="#"><i class="fa-brands fa-square-instagram"></i></a> </li>
                        <li> <a href="#"><i class="fa-brands fa-twitter"></i></a> </li>
                        <li> <a href="#"><i class="fa-brands fa-youtube"></i></a> </li>
                        <li> <a href="#"><i class="fa-brands fa-wordpress"></i></a> </li>
                    </div>
                </ul>
            </div> 
        </div>

        <hr>
        <p class="copy"> &copy; 2024 Delish Nutrio | All Rights Reserved </p>
    </footer>
</body>
</html>