<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Plan</title>
    <link rel="stylesheet" href="css/Meal Plan.css">
    
</head>
<body>
    <header class="Header">
        <div class="Logo">
            <img src="images/logo.png" alt="Logo">
        </div>

        <h1>Meal Plan</h1>

        <div class="search-bar">
            <input type="text" placeholder="Search for something">
        </div>

        <div class="right-header">
            <a href="Mainwebsite.html">MAIN WEBSITE</a>
            <img src="images/bell-icon.png" alt="Notification Badge" class="bell-image">
            <img src="images/user-image.png" alt="Profile Picture" class="user-image">
        </div>
    </header>

    <nav>
        <ul>
            <li><img src="left panel images/dashboard.png" alt="Dashboard"><a href="dashboard.html">Dashboard</a></li>
            <li><img src="left panel images/progress-tracker.png" alt="Progress Tracker"><a href="Progress tracker.html">Progress Tracker</a></li>
            <li class="active"><img src="left panel images/meal-plan.png" alt="Meal Plan"><a href="Meal Plan.html">Meal Plan</a></li>
            <li><img src="left panel images/recipe.png" alt="Recipe"><a href="#">Recipe</a></li>
            <li><img src="left panel images/shopping-list.png" alt="Shopping List"><a href="shopping list.html">Shopping List</a></li>
            <li><img src="left panel images/community.png" alt="Community"><a href="community.html">Community</a></li>

        </ul>
    </nav>

    <main>
        <section class="meal-category">
           
            <div class="heading">
                <h2>Breakfast</h2>

                <span>Find Recipe</span>

            </div>

            <hr>

            <div class="meal-section">
                <img src="center panel images/spaghetti.png" alt="Spaghetti">
                <div class="meal-info">
                    <h3>Spaghetti and Fried eggs
                         with small chops
                    </h3>

                    <div class="nutrition">
                        <div class="nutrients">
                            <img class="calory-logo" src="center panel images/calorie.png" alt="Calories">
                            <span>
                                Calories <br>
                                450kcl
                            </span>
                        </div>

                        <div class="nutrientss">
                            <img class="fat-logo" src="center panel images/fat.png" alt="Fats">
                            <span>
                                Fats <br>
                                12gr
                            </span>
                        </div>
                        
                    

                    </div>

                    <div class="carbs-protein"></div>
                        <div class="nutrientsss">
                            <img class="carbs-logo" src="center panel images/carbs.png" alt="Carbs">
                            <span>
                                C\arbs <br> 
                                40gr
                            </span>
                        </div>

                        <div class="nutrientssss">
                            <img class="protein-logo" src="center panel images/protein.png" alt="Proteins">
                            <span>
                                Protein <br>
                                4ogr
                            </span>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </section>

        <section class="meal-category">

            <div class="heading">
                <h2>Breakfast</h2>

                <span>Find Recipe</span>

            </div>

            <hr>

            <div class="meal-section">
                <img src="center panel images/spaghetti.png" alt="Spaghetti">
                <div class="meal-info">
                    <h3>Spaghetti and Fried eggs
                         with small chops
                    </h3>

                    <div class="nutrition">
                        <div class="nutrients">
                            <img class="calory-logo" src="center panel images/calorie.png" alt="Calories">
                            <span>
                                Calories <br>
                                450kcl
                            </span>
                        </div>

                        <div class="nutrientss">
                            <img class="fat-logo" src="center panel images/fat.png" alt="Fats">
                            <span>
                                Fats <br>
                                12gr
                            </span>
                        </div>
                        
                    

                    </div>

                    <div class="carbs-protein"></div>
                        <div class="nutrientsss">
                            <img class="carbs-logo" src="center panel images/carbs.png" alt="Carbs">
                            <span>
                                C\arbs <br> 
                                40gr
                            </span>
                        </div>

                        <div class="nutrientssss">
                            <img class="protein-logo" src="center panel images/protein.png" alt="Proteins">
                            <span>
                                Protein <br>
                                4ogr
                            </span>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </section>

        <section class="meal-category">

            <div class="heading">
                <h2>Breakfast</h2>

                <span>Find Recipe</span>

            </div>

            <hr>

            <div class="meal-section">
                <img src="center panel images/spaghetti.png" alt="Spaghetti">
                <div class="meal-info">
                    <h3>Spaghetti and Fried eggs
                         with small chops
                    </h3>

                    <div class="nutrition">
                        <div class="nutrients">
                            <img class="calory-logo" src="center panel images/calorie.png" alt="Calories">
                            <span>
                                Calories <br>
                                450kcl
                            </span>
                        </div>

                        <div class="nutrientss">
                            <img class="fat-logo" src="center panel images/fat.png" alt="Fats">
                            <span>
                                Fats <br>
                                12gr
                            </span>
                        </div>
                        
                    

                    </div>

                    <div class="carbs-protein"></div>
                        <div class="nutrientsss">
                            <img class="carbs-logo" src="center panel images/carbs.png" alt="Carbs">
                            <span>
                                C\arbs <br> 
                                40gr
                            </span>
                        </div>

                        <div class="nutrientssss">
                            <img class="protein-logo" src="center panel images/protein.png" alt="Proteins">
                            <span>
                                Protein <br>
                                4ogr
                            </span>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </section>

    </main>

    <aside>
        <h3>My Shopping List</h3>

        <hr>

        <ul>
            <li><img src="right panel images/apple-logo.png" alt="Apple Store">Apple Store <div class="price">$450</div>  
                <p>5h ago</p>
            </li>
            <li><img src="right panel images/user a logo.png" alt="Michael">Michael <div class="price">$160</div>
                <p>2 days ago</p>
            </li>
            <li><img src="right panel images/playstation-logo.png" alt="Playstation">Playstation <div class="price">$1085</div> 
                <p>5 days ago</p>
            </li>
            <li><img src="right panel images/user b logo.png" alt="William">William <div class="price">$90</div> 
                <p>10 days ago</p>
            </li>
        </ul>
    </aside>
</body>
</html>

<script src="Meal Plan.js"></script>


