<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/CSS/register.css">
</head>
<body>
    <div class="Logo-container">
        <img src="images/Delish Nutrio 1 logo.png" alt="Logo">
    </div>

    <div class="container">
        <div class="left-section">
            <h2>Unlock Your Nutrition Potential,<br>Sign up to get started.</h2>
            <div class="Image-layout">
                <img src="images/registerform2.png" alt="Sign up">
            </div>
        </div>    
        <div class="right-section">
            <div class="black-arrow">
                <img src="images/blackarrow.png" alt="Black Arrow">
            </div>
            <h3>Welcome</h3>
            <form action="api/register", method="POST">
                <div class="Form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" id="firstname" name="firstname">
                </div>
                <div class="Form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" id="lastname" name="lastname">
                </div>
                <div class="Form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username">
                </div>
                <div class="Form-group">
                    <label for="phone_number">Phone Number</label>
                    <input type="tel" id="phone_number" name="phone_number">
                </div>
                <div class="Form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="Form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password"> 
                </div>
                <div class="Form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword">
                </div>
                <button type="submit">SignUp</button>
            </form>
                <p>By clicking "SignUp", you agree that you have read the <a href="#">Privacy Policy</a> and have 
                reviewed and agree to <a href="#">Terms and conditions.</a></p>
        </div>        
    </div>

    
    
    
</body>
</html>