body {
    background-color: white;
}

.hero{
    background-image: url('../assets/about/hero-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
}

.hero-info {
    max-width: 600px;
    margin-left: 40px;
    padding-top: 15%;
    color: white;
}

.hero-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.mission-vision {
    margin: 20px 170px;
}

.mv-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding-top: 60px;
}

.mv {
    background-color: red;
    color: white;
    padding: 100px 45px;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    box-shadow: 3px 30px 100px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    max-height: 490px;
}

.mv h2{
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.mv p {
    font-size: 20px;
}

.team {
    background-color: #E9E9E9;
    margin: 10px 90px;
    padding-top: 50px;
    margin-top: 60px;
}

.team h2, .clients h2  {
    text-align: center;
    margin-bottom: 60px;
}

.team-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
    justify-items: center;
}

.team-details {
    max-width: 300px;
    text-align: center;
}

.story {
    background-color: red;
    color: white;
}

.story h2, .values h2 {
    padding-top: 30px;
    margin: 0;
    margin-bottom: 5px;
}

.story p, .values p {
    padding: 0 5px;
    padding-bottom: 40px;
}

.values ul {
    padding-left: 30px;
    margin-top: -20px;
}

.clients {
    margin: 40px 90px;
}

.client-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px 60px;
    justify-items: center;
    margin-bottom: 100px;
}
