body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.logo-container {
    margin: 36px 50px;
}

.image-logo {
    height: 60px;
    width: 60px;
}

.account-success {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-account {
    width: 270px;
    height: auto;
}

h1 {
    font-size: 25px;
    
}

button {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 9px;
    font-size: 8px;
    margin-top: 20px;
    cursor: pointer;
}