/* body {
    background-color: white;
} */
.hero{
    background-image: url('../assets/community/hero-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
}

.hero-info {
    padding-top: 15%;
    color: white;
    text-align: center;
}

.hero-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero-info button {
    background: red;
    border: none;
    color: white;
    padding: 15px 30px;
    border-radius: 7px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.hero-info button:hover {
    transform: scale(1.1)
}

.discussion {
    margin: 60px 90px;
}

.discuss-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    overflow: hidden;
    padding-top: 40px;
}

.discuss-card img {
    width: 100%;
    height: auto;
}

.trending {
    margin: 60px 90px;
}

.trending h2 {
    text-align: center;
    margin-bottom: 40px;
}

.trending h3 {
    margin: 20px 0;
    text-align: center;
}

.discuss-form {
    display: flex;
    margin: 0px 100px;
    margin-bottom: 20px;
    border: 3px solid black;
    padding: 20px;
 
}

.discuss-form input:active, .discuss-form input:focus, .discuss-form input:hover, .discuss-form input, .discuss-form button {
    border: none;
    background: inherit;
}

.discuss-form input {
    padding: 10px;
    width: 85%;
}

.discuss-form button {
    background-color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 7px;
}
.view{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 100px;
}

.view button {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 7px;
    border: none;
}

.view button:hover {
    transform: scale(1.05);
}
