.hero{
    background-image: url('../assets/home/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
}

.hero-info {
    max-width: 600px;
    margin-left: 40px;
    padding-top: 15%;
}

.hero-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero-info button {
    background: red;
    border: none;
    color: white;
    padding: 15px 30px;
    border-radius: 7px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.hero-info button:hover {
    transform: scale(1.1)
}

.features {
    padding: 90px;
}

.feature-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 60px;
}

.feature-card img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    box-shadow: 3px 30px 100px rgba(0, 0, 0, 0.1);
    
}

.card-text {
    text-align: center;
    /* position: absolute;
    top: 38px ; */
    background: white;
    padding: 10px;
    margin-top: -10px;
}


.testimonials {
    background-color: #E9E9E9;
    margin: 10px 90px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.testimonials h2 {
    text-align: center;
    margin-bottom: 30px;
}

.test-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 10px 150px;
}

.testcard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-qt  {
   background-color: #F5F5F5;
   text-align: center;
   padding: 40px 20px;
   line-height: 25px;
}

.quoter {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: auto;
}

.quote-icon img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.resources {
    margin: 10px 90px;
    overflow: hidden;
    padding-bottom: 100px;
}

.resources h2{
    margin-left: 40px;
    margin-top: 70px;
}

.resources-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.resources-card {
    background-color: #E9E9E9;
    padding: 10px;
    padding-bottom: 20px;
}

.resources-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.resources-card h3 {
    max-width: 210px;
    margin-bottom: 10px;
}

.resources-card p {
    max-width: 400px;
    margin-bottom: 60px;
}

.resources-card button{
    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
} 

.resources-card button:hover {
    transform: scale(1.05)
}