*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    position: relative;
    top: 20px;
    left: 20px;
}
body{
    background-color: #F1F1F1;
    font-family: "Lato", serif;
}
.Container{
    display: grid;
    grid-template-columns: auto 400px;
    width: 75%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

.welcome-section{
    background: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.welcome-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-text{
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
}

.login-section{
    background-color: #E9E9E9;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}
.login-section h2 {
    color: #333;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.login-section p {
    color: #555;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    /* margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px; */
    color: #333;
    font-size: 14px;
    text-align: left;
    margin-left: 49px;
    font-weight: bold;
    margin-bottom: 5px;
    
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #E53935;
    border-radius: 4px;
    font-size: 14px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.forgot-password {
    text-align: left;
    font-size: 13px;
    color: black;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 35px;
    margin-left: 49px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-btn {
    background-color: #E53935;
    color: #fff;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.login-btn:hover {
    background-color: #d32f2f;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #888;
    font-size: 14px;
}

.google-btn {
    background-color: #fff;
    color: #E53935;
    padding: 10px;
    border: 1px solid #E53935;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.google-btn:hover {
    background-color: #fce4ec;
}

.create-account {
    font-size: 14px;
    color: #333;
}

.create-account a {
    color: #E53935;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}
.google-icon{
    position: relative;
    top: 5px;
}