* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    background-color: #F1F1F1;
    scroll-behavior: smooth;
}

        /* Navbar */
header {
    background: red;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
    margin-bottom: 0;
}

.links {
    margin: auto;
    padding-left: 40px;
}

.links li {
    display: inline;
}

.links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 15px;
}

.links li a:hover {
   border: 1px solid white;
   border-radius: 7px;
   padding: 10px 10px;
}

.nav-buttons{
    margin: auto 0;
    display: flex;
    gap: 10px;
}

.nav-buttons #dash {
    background: red;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}
#dash:hover{
    background: white;
    border: 1px solid red;
    color: red;
}


.nav-buttons #login {
    background: white;
    border: 1px solid red;
    color: red;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}
#login:hover{
    background: red;
    border: 1px solid white;
    color: white;
}


            /* FOOTER */
footer {
    margin: 10px 170px;
    overflow: hidden;
}

.foot-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-links li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #0A142F;
}
.footer-links a:hover {
    color: red;
}

.socials li {
    display: inline;
    margin-right: 15px;
    font-size: 22px;
}

.footer-links li:first-child{
    font-weight: bold;
    margin-bottom: 30px;
}

.copy {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: #0A142F;
    margin-bottom: 20px;
}

