* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: lato,sans-serif;
    background-color: #f1f1f1;
}

.Header {
    background-color: #e53935 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    color: #fff;
    height: 5em;
}

.Logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

h1 {
    margin: 0 3em; 
    font-size: 20px;
    
}

.search-bar {
    flex: 1;
    margin: 0 10em;
}

.search-bar input {
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: #f1f1f1;
    width: 160%;
    padding: 1em;
    margin-left: 3em;
}

.right-header {
    display: flex;
    align-items: center;
}

.right-header a {
    color: #fff;
    margin: 6em;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 0.8em;
    font-size: 10px;
}

.bell-image {
    margin-right: 3em;
    width: 35px;
    height: 35px;
}

.user-image {
    width: 60px;
    height: 60px;
}

nav {
    background-color: white;
    width: 13em;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    float: inline-start;
}

nav ul li {
    padding: 1em;
    list-style-type: none;
    
}

nav ul li img {
    margin-right: 1em;
    width: 25px;
    height: 25px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

nav ul li .active a {
    color: #e53935;
    font-weight: bold;
    
}

main {
    padding: 2em;
    float: left;
}

main hr {
    width: 42em;
    border: 1px solid;
    margin-right: -8em;
    margin-bottom: 1em;
}

.meal-category {
    margin-bottom: 2em;
}

.meal-section {
    display: flex;
    
}

.meal-section img {
    width: 190px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 1em;
}



.meal-info .nutrition {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    gap: 2em;
    width: 80px;
    height: 50px;
}

.nutrients {
    display: flex;
    align-items: center;
    background-color: #e53935;
    padding: 1em;
    border-radius: 10px;
    
}

.meal-info .nutrients img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    
}

.calory-logo {
    border-radius: 5px;
}

.nutrientss {
    display: flex;
    align-items: center;
    background-color: #e53935;
    padding: 1em;
    border-radius: 10px;
}

.nutrientss img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.fat-logo {
    border-radius: 5px;
}

.meal-info .carbs-protein {
    display: flex;
    justify-content: space-between;
    width: 80px;
    


}

.nutrientsss {
    
    align-items: center;
    text-align: center;
    background-color: black;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 1em;
    float: left;
}

.nutrientsss img {
    
    width: 30px;
    height: 30px;
    margin-right: 5px;
}


.nutrientsss span {
    color: white;
    
}

.carbs-logo {
    border-radius: 5px;
}



.nutrientssss {
    
    
    padding: 5px 10px;
    align-items: center;
    text-align: center;
    background-color: white;
    float: left;
    border-radius: 10px;
    margin-right: 3em;
}

.nutrientssss img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    
}

.protein-logo {
    border-radius: 5px;
    
}

.meal-info button {
    
    color: #333b69;
    border: none;
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;
}

.heading {
    color: #333b69;
    font-size: 16px;
    display: flex;
    gap: 27em;

}

.heading h2 {
    margin-bottom: 0.4em;
}

aside {
    background-color: white;
    padding: 1em;
    border-radius: 15px;
    width: 19em;
    float: right;
}

aside h3 {
    font-size: 16px;
    margin-bottom: 0.5em;
}

aside hr {
    width: 19em;
    border: 1px solid;
    margin-bottom: 1em;
    margin-left: -1em;
}

aside ul {
    list-style: none;
    
}

aside ul li {
    margin-bottom: 0.5em;
}

aside ul li .price {
    padding: 1em;
    float: right;
    flex-direction: column;
}

aside ul li p {
    margin-left: 2.5em;
}

aside ul li img {
    margin-right: 1em;
    width: 25px;
    height: 25px;
    
}