*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    position: relative;
    top: 20px;
    left: 20px;
}
body{
    background-color: #F1F1F1;
    font-family: "Lato", serif;
    
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    
}
.verification-box{
    background-color: white;
    width: 70%;
    height: 200px;
    padding-top: 40px;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.verification-box h2{
    text-align: center;
    margin-bottom: 20px;
}
.verification-container{
    width: 60%;
}
.verification-p1{
    text-align: center;
    margin-bottom: 10px;
}
.verification-p2{
    text-align: center;
    margin-bottom: 10px;
}
.instructions{
    text-align: center;
    margin-bottom: 40px;
}
.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.confirm-button {
    background-color: #E53935;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    width: 150px;
    text-transform: uppercase;
}
.resend-button{
    background-color: #F1F1F1;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    border: #d32f2f solid 1px;
    color: #d32f2f;
    text-transform: uppercase;
}

.resend-button:hover, .confirm-button:hover {
    background-color: #d32f2f;
}
footer {
    margin-top: 130px;
    color: black;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
} 
.resend-button a{
    text-decoration: none;
    color: #d32f2f;
}
.confirm-button a{
    text-decoration: none;
    color: white;
}
/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: black;
}

.verification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    padding: 20px;
}



.verification-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.verification-box h1 {
    margin-top: 0;
    color: black;
}

.instructions {
    color: black;
    font-size: 14px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.resend-button, .confirm-button {
    background-color: #E53935;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.resend-button:hover, .confirm-button:hover {
    background-color: #d32f2f;
}

footer {
    margin-top: 20px;
    color: black;
    font-size: 14px;
} */